Identified stated requirements

- edit details for existing customer (add/remove addresses) 
- customer login (secure) 
- send packages online 
- send packages via drop off at SAE drop-off-points
- obtain manifest of all packages in a vehicle 
- obtain list of packages scheduled for pickup 
- scan packages on delivery, on acceptance and pickup 
- Create new bin and assign it destination city/cities 
- scan package check it can go into given bin (both are addressed to the same city) 
- scan bin whenever it moves in/out of facility/vehicle and apply scan to all contents 
- scan package when leaving/entering storing facilty 
- obtain list of packages addressed to given account holder at any their addresses 
- Identify lost packages - hasn't been scanned for x period of time and notify transport managers of lost packages

Identified unstated requirements
- register new customer 
- Flexible interface for transport managers record lost packages
- Simliar interface to above for transport managers to restore previously lost packages
- employee login to access functions appropriate to that employee's role 
